.emailList {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.emailList_Elements:hover {
    background-color: rgb(241, 247, 247);
    border: 2px solid rgb(201, 207, 207);
}

.emailList_Elements:hover svg {
    color: rgb(0, 0, 0);
}


.emailList_Elements {
    display: grid;
    grid-template-columns: 22vh auto 9vh;
    align-items: center;
    border-bottom: 2px solid rgb(232, 238, 238);
    padding-bottom: 0;
    margin-bottom: 0;
}

.emailList_Elements h4 {
    font-size: 2vh;
    /* margin-left: 1vh; */
}

.emailList_Elements svg {
    color: rgb(161, 168, 168);
    font-size: 2.7vh;
}

.emailList_Elements svg,
.emailList_Elements p,
.emailList_Elements h4,
.emailList_Elements h5,
.emailList_Elements div {

    margin: .8vh .8vh .6vh;
    font-size: normal;
}

.emailList_Elements p {
    font-size: 1.4vh;
}

.emailList_Elements_EmailBody {
    display: flex;
    align-items: center;
    font-size: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
   
}

.emailList_Elements_EmailBody p {
     font-size: small;
}

.emailList_Elements_EmailBody p , .emailList_Elements_EmailBody h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
   }




