.fullEmailDetail{
    background-color: rgb(248, 248, 248);
    height: 80%;
    border-radius: .5vh;
}

.fullEmailDetail__grid{
    display: flex;
    justify-content: space-between;
    /* padding: 2vh 1vh 0vh 1vh;
    margin: 1vh 1vh 0vh 1vh; */
    padding-left: 2vh;
    padding-top: 1vh;
    font-weight: bold;
}

.fullEmailDetail__from{
display: flex;

align-items: center;
}

.fullEmailDetail__from p {
/* padding: 1vh 1vh;
margin: 1vh 1vh; */
padding-left: 1vh;
}

.fullEmailDetail__time{
padding-right: 1.2vh;
}

.fullEmailDetail__sub{
    padding: 2vh 1vh 0vh 1vh;
    margin: 1vh 1vh 0vh 1vh;
    font-size: larger;
    color: rgb(75, 75, 75);
    padding-left: 5vh;
}

.fullEmailDetail__message{
    padding-left: 2vh;
    margin: .5vh 1vh 0vh 1vh;
     color: rgb(75, 75, 75);
    padding-left: 8vh;
    font-size: small;

}